
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2bd609d0;
    color: #333;
}

header {
    background: #2bd609d0;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: #03aa4e;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #444;
    border-bottom: 2px solid #666;
    padding-bottom: 5px;
}

form {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

thead {
    background: #444;
    color: white;
}
.dev-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
    width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.dev-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dev-card img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    transition: transform 0.3s;
}

.dev-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dev-info h3 {
    color: #444;
    margin-bottom: 5px;
}

.dev-info p {
    font-size: 1em;
    color: #666;
}
footer {
    background: #3f413fd0;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 1em;
}


